
body { position: relative;
    
}
.uno {
    height:170px;
    width: 170px;
    background-color: #0048fb;
    position: static;
}
.dos{
    height: 90px;
    width: 90px;
    background-color: #387804;
    position: absolute;
    margin-top: 38px;
    margin-left: 40px;
    
}
.tres {
    height: 40px;
    width: 40px;
    background-color: #000000;
    position: absolute;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    
}